.header {
  width: 90%;
  padding: 0 5%;
  height: 86px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFF;
}
.header_logo {
  width: 230px;
  height: 70px;
  flex-shrink: 0;
  color: #3D7B5D;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.header_groupBlocks {
  width: 320px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: none;
}

.register {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
  height: auto;
}
.register_block {
  width: 618px;
  height: 670px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.register_block_first {
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.register_block_first_p1 {
  color: #3D7B5D;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.register_block_first_complect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.register_block_first_complect_p1 {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.register_block_first_complect_line {
  width: 160px;
  height: 8px;
  background: #B0B0B0;
  border-radius: 3px;
}
.register_block_first_complect_line_in {
  width: 25%;
  height: 100%;
  background-color: #3D7B5D;
  border-radius: 3px;
}
.register_block_second {
  width: 500px;
  height: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.register_block_second_title {
  color: #3D7B5D;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.register_block_second_category {
  width: 500px;
  height: 330px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 16px;
}
.register_block_second_category_block1 {
  width: 233px;
  height: 153px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #B0B0B0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFF;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition-duration: 0.05s;
}
.register_block_second_category_block1:hover {
  border: 2px solid #3D7B5D;
  transition-duration: 0.05s;
}
.register_block_second_category_block1_function {
  width: 90%;
  height: 50%;
  padding-top: 10%;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.register_block_second_category_block1_top {
  position: absolute;
  top: 8px;
  height: 28px;
  width: 96%;
  display: flex;
  justify-content: space-between;
}
.register_block_second_category_block1_top_role {
  color: rgba(0, 0, 0, 0.76);
  margin-left: 10px;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.register_block_second_category_block1_top_point {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  border-radius: 28px;
  border: 1px solid #B0B0B0;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register_block_second_category_block1_top_point_into {
  width: 17px;
  height: 17px;
  border-radius: 28px;
  border: 2px solid #3D7B5D;
  background: #3D7B5D;
}
.register_block_second_category_block2 {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  width: 323px;
  height: 153px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #B0B0B0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFF;
  position: relative;
}
.register_block_second_category_block2:hover {
  border: 2px solid #3D7B5D;
}
.register_block_third {
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.register_block_third_p1 {
  color: #3D7B5D;
  text-decoration: none;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.register_block_third_next {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  width: 156px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #3D7B5D;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.choosen {
  border: 3px solid #3D7B5D;
}/*# sourceMappingURL=styleForRegisterPage.css.map */